<!-- TODO: Use Component Factory to create iframe's -->

<div class="f-col">
  <iframe
    type="text/html"
    width="360"
    height="202"
    src="https://www.youtube.com/embed/pO8v1iWVTIM"
    frameborder="0"
  ></iframe>

  <!-- 
  <div class="container" style="width: 100%">
    <mat-divider></mat-divider>
  </div>

  <iframe
    type="text/html"
    width="640"
    height="360"
    src="http://www.youtube.com/embed/videoseries?list=PL81WJHi347jgBKaQiRFKerodI5IafJj4s"
    frameborder="0"
  ></iframe>
  
  <div class="container" style="width: 100%">
    <mat-divider></mat-divider>
  </div>

  <p bind-innerHTML="playlistHtmlCode | safeHtml"></p>
   -->
</div>
