/* GLOBAL STYLESHEET */

html,
body {
  height: 100%;
}
body {
  background-color: #031417;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin: 0;
}

.link-active {
  // background-color: #607d88;
  background-color: #031417 !important;
}

/* Layout Utility Classes */
.f-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.f-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-grow {
  flex: 1 1 auto;
}

.container {
  padding: 1.5em 3em;
}

/* Angular Material Styles*/
.mat-tab-label {
  flex-grow: 1;
}
