<app-youtube-player></app-youtube-player>

<mat-tab-group>
  <mat-tab label="Austin">TODO: implement Austin's queue</mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>play_arrow</mat-icon>
    </ng-template>
    TODO: implement combined queue
  </mat-tab>
  <mat-tab label="Keegan">TODO: implement Keegan's queue</mat-tab>
</mat-tab-group>
